.btn {
  padding: 16px 34px;
  color: var(--white);
  background: transparent;
  font-size: 1.4rem;
  border: 2px solid var(--red);
  border-radius: 27px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 600;

  &:hover {
    background: var(--red);
    transition: all 0.5s;
    border: 2px solid transparent;
  }
}

.button {
  padding: 16px 34px;
  color: var(--white);
  font-size: 1.4rem;
  border-radius: 27px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 600;
  background: var(--red);
  border: 2px solid transparent;
  
  &:hover {
      transition: all 0.5s;
      border: 2px solid var(--red);
      background: transparent;
  }
}
