$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

%btn {
  background-color: $accent;
  text-transform: uppercase;
  color: #ffff;
  padding: 14px 30px;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  cursor: pointer;
}
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
@keyframes spin {
  from {
    height: 130px;
    width: 130px;
  }
  50% {
    height: 120px;
    width: 120px;
  }
  to {
    height: 130px;
    width: 130px;
  }
}

/* filter range */

.slider-track {
  top: 50%;
  transform: translateY(-50%);
  left: 0; /* значение по умолчанию, будет переписано скриптом */
  width: 100%;
  height: 6px;
  background: #fe3e57;
  position: absolute;
  z-index: 1;
}

.price-title {
  position: relative;
  color: #29282d;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-field {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  height: 8px;
  background: #ececec;
}

.price-field input[type="range"] {
  position: absolute;
}

/* Reset style for input range */

.price-field input[type="range"] {
  width: 100%;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type="range"]:active,
.price-field input[type="range"]:focus {
  outline: 0;
}

.price-field input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: 5px;
}

/* Style toddler input range */
.price-field input[type="range"]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  width: 30px;
  height: 30px;
  margin-top: -12px;
  background-color: #fff;
  box-shadow: 0px 0px 13px 0px rgba(70, 69, 69, 0.2);
  cursor: pointer;
  pointer-events: all;
  z-index: 10;
}

.price-field input[type="range"]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  width: 30px;
  height: 30px;
  margin-top: -12px;
  background-color: #fff;
  box-shadow: 0px 0px 13px 0px rgba(70, 69, 69, 0.2);
  cursor: pointer;
  pointer-events: all;
  z-index: 10;
}

.price-field input[type="range"]::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #000000;
  box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* Style track input range */

.price-field input[type="range"]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  border-radius: 5px;
}

.price-field input[type="range"]::-moz-range-track {
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
}
.price__contnet {
  display: flex;
  padding-bottom: 20px;
  width: 100%;
}

/* Style for input value block */

.price-wrap {
  display: flex;
  color: #000000;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin: 20px 0;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.price-wrap-1,
.price-wrap-2 {
  display: flex;
}

.price-title {
  margin-right: 5px;
}

.price-wrap_line {
  margin: 0 10px;
}

.price-wrap #one,
.price-wrap #two {
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background: 0;
  border: 0;
  outline: 0;
  color: #000000;
  font-family: "Karla", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-wrap label {
  text-align: right;
  width: 100%;
}
.filter-price__btn {
  max-width: 100%;
  width: 100%;
}
/* filter range  end */

.shop {
  padding: 120px 0 105px;

  &__inner {
    display: flex;
  }

  &__filters {
    width: 370px;
    margin-right: 30px;
  }

  &-content {
    width: 100%;
    padding-left: 30px;

    &__filter {
      border: 1px solid #ececec;
      padding: 20px 25px 20px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__filter-buttons {
      display: flex;
      align-items: center;
    }

    &__filter-btn {
      outline: none;
      padding: 0;
      border: 0;
      margin-left: 15px;
      background-color: transparent;
      line-height: 0;

      &--active {
        path {
          fill: $accent;
        }

        .product-item:last-child {
          margin-bottom: 70px;
        }
      }
    }

    &__btn {
      background-color: transparent;
      border: none;
    }

    &__filter-sort {
      .jq-selectbox__select-text {
        margin-right: 15px;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid #ececec;
    }
  }
}

.filter {
  &__item {
    max-width: 374px;
    padding: 35px 20px;
    border: 1px solid #ececec;
    margin-bottom: 40px;
  }

  &__title {
    text-transform: uppercase;
    color: $title;
    font-size: 22px;
    margin-bottom: 25px;
  }

  &-search {
    &__form {
      display: flex;
    }

    &__input {
      border: none;
      background-color: $bg;
      height: 50px;
      padding: 0 5px 0 15px;
      width: 260px;
    }

    &__btn {
      border: none;
      background-color: $accent;
      height: 50px;
      width: 50px;
      cursor: pointer;
    }
  }
  .filter-search__btn {
    @extend %btn;
    border: none;
    width: 100%;
  }
  &-price {
    &__label {
      display: flex;
      justify-content: space-between;
      /*  padding-top: 30px; */
    }

    &__btn {
      @extend %btn;
      border: none;
    }
  }

  /* ! */
  &-size,
  &-model {
    &__label {
      padding-bottom: 20px;
      border-bottom: 1px solid #ececec;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      /* ! */
      & + .filter-size__label,
      & + .filter-model__label {
        padding-top: 20px;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    &__input {
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      position: absolute;
      /* ! */
      &:checked + .filter-size__checbox,
      &:checked + .filter-model__checbox {
        background-image: url("/img/svg/checklist.svg");
      }
    }

    &__checbox {
      width: 16px;
      height: 16px;
      margin-left: -16px;
      position: absolute;

      &--blue {
        background-color: #00aeef;
      }
    }
  }
}

.filte-popular {
  &__label {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 8px;
    cursor: pointer;
    padding: 14px 0;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked + .filte-popular__checkbox {
      background-color: $accent;
      border-color: $accent;
      color: #ffff;
    }
  }

  &__checkbox {
    border: 1px solid $default;
    padding: 10px 18px;
  }
}

.product-item {
  border: none;

  &__title {
    text-align: center;
  }

  &__price {
    margin-bottom: 30px;
  }

  &__wrapper-list {
    max-width: 495px;
    display: none;

    .product-item__title {
      text-align: left;
    }

    .product-item__new-price {
      padding: 0;
    }

    .product-item__price {
      margin-bottom: 30px;
      justify-content: start;
      padding-bottom: 20px;
      align-items: center;
    }

    .product-item__old-price {
      padding-left: 20px;
      padding-right: 38px;
    }

    .star {
      padding-top: 0;
      margin: 0;
    }

    &-text {
      font-size: 16px;
      line-height: 1.625;
      margin-bottom: 30px;
    }
  }

  &__wrapper-btn {
    background-color: #29282d;
    text-transform: uppercase;
    color: #ffff;
    padding: 14px 30px;
    box-shadow: 0px 7px 20px 0px #29282d;

    &:hover {
      @extend %btn;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-size: 16px;

  &__list {
    display: flex;
  }

  &__arrows {
    position: relative;
    text-transform: uppercase;
    color: #a4a4a4;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
    }
  }

  &__prev {
    padding-right: 30px;

    &::before {
      background-image: url("../images/icons/left.svg");
      height: 14px;
      background-repeat: no-repeat;
      left: -16px;
      top: 3px;
    }
  }

  &__next {
    padding-left: 30px;

    &::before {
      background-image: url("../images/icons/right.svg");
      height: 14px;
      background-repeat: no-repeat;
      right: -16px;
      top: 3px;
    }
  }

  &__items {
    display: flex;
  }

  &__link {
    padding: 0 15px;
    color: #a4a4a4;

    &--active {
      color: red;
    }
  }
}

.irs {
  cursor: pointer;

  &--flat {
    .irs-line {
      top: 14px;
      height: 5px;
      background-color: #ececec;
      border-radius: 0;
    }

    .irs-handle {
      top: 0;
      width: 30px;
      height: 30px;
      background-color: #ffff;
      box-shadow: 0px 0px 13px rgba(90, 90, 90, 0.2);

      > i:first-child {
        display: none;
      }
    }

    .irs-bar {
      top: 14px;
      height: 5px;
      background-color: $accent;
    }

    .irs-from,
    .irs-to,
    .irs-single,
    .irs-min,
    .irs-max {
      display: none;
    }
  }
}

.jq-selectbox {
  &__select {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 32px;
    padding: 0 30px 0 0;
    border: none;
    background: transparent;
    box-shadow: none;
    color: $default;
    text-shadow: none;

    &:hover {
      background: transparent;
    }
  }

  &__trigger {
    border-left: none;

    &-arrow {
      position: absolute;
      top: 14px;
      right: 12px;
      width: 10px;
      height: 5px;
      border: none;
      background-image: url("../images/icons/angle-down.svg");
    }
  }

  &__select-text {
    overflow: inherit;
  }

  &__dropdown ul {
    width: 150px;
  }
}

.select-style {
  cursor: pointer;
}
