


@use './base/vars.scss' as *;



.form-email {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
   @extend %m-500;
   
  }
  &__form {
    max-width: 276px;
    width: 100%;
  }
  &__wrapper {
    display: flex;
    height: 60px;
    background: var(--form);
    color: var(--white);
    opacity: 0.5;
    font-size: 15px;
    align-items: center;
    border-radius: 6px;
    padding: 20px;
  }

  input {
    width: 100%;
    background: var(--form);
    padding-left: 6px;
    color: var(--white);
    opacity: 1;
    cursor: pointer;
  }
  input::placeholder {
    color: var(--white);
    opacity: 0.5;
  }
  button {
    background: transparent;
  }
  svg {
    width: 12px;
    height: 12px;
    stroke: var(--white);
    margin-top: 5px;
  }
  @media (max-width: 576px) {
    h2 {
      line-height: 3.2rem;
      text-align: center;
    }
  }
}
