.select {
  width: 100%;
  max-width: 120px;
  position: relative;

  &__wrapper {
    display: flex;
    gap: 30px;
  }

  &__btn {
    width: 100%;
    position: relative;
    border: 1px solid rgba(80, 124, 171, 0.2);
    background: #ffff;
    border-radius: 5px;
    padding: 1px 0;
    overflow: hidden;
    cursor: pointer;

    &>* {
      opacity: 1 !important;
      pointer-events: none;
    }


  }

  &__list {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: white;
    border: 1px solid transparent;
    box-shadow: 0px 10px 20px rgba(7, 16, 31, 0.05);
    border-radius: 5px;
    transition: max-height 0.3s, border 0.5s;
    list-style: none;
    z-index: 2;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    opacity: 0;

    &.active {
      border-color: rgba(80, 124, 171, 0.2);
      opacity: 1;
    }
  }

  &__item {
    &:first-child {
      padding-top: 5px;
    }

    &:last-child {
      padding-bottom: 5px;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding: 8px 15px 8px 40px;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
    color: black;
    opacity: 0.5;


    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url('/img/select/En.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }


    &.select__link--ru {
      &::before {
        background-image: url('/img/select/Es.png');
      }
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      pointer-events: none;
    }
  }
}