/* Основной контейнер Swiper */
.swiper {
  width: 100%;
  /* Можно изменить под ваши нужды */
  position: relative;
  overflow: hidden;
}

/* Обертка слайдов */
.swiper-wrapper {
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

/* Отдельный слайд */
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  /* Каждый слайд занимает всю ширину контейнера */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: #eee;
  /* Фон слайда, можно изменить */
  user-select: none;
  img{
    width: 100%;
  }
}

/* Пагинация */
.swiper-pagination {
  position: absolute;
  text-align: center;
  bottom: 7.6rem !important;
  width: 100%;
  z-index: 10;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;

  .swiper-pagination-bullet {
    background: unset;
    color: var(--white);
    opacity: 1;
    font-size: 19px;
    gap: 0 20px;
  }

  .swiper-pagination-bullet-active {
    background: var(--white);
    width: 20px;
    height: 20px;

  }
}

/* Кнопки навигации */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Левая кнопка */
.swiper-button-prev {
  left: 10px;
  background-image: url('data:image/svg+xml;base64,...');
  /* Здесь можно добавить SVG иконку стрелки назад */
}

/* Правая кнопка */
.swiper-button-next {
  right: 10px;
  background-image: url('data:image/svg+xml;base64,...');
  /* Аналогично, иконка вперед */
}

/* Скроллбар */
.swiper-scrollbar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 50;
  height: 4px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-slide__image {
  width: 100%;
  height: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: top;
}


.swiper-slide__wrapper {
  position: absolute;
  z-index: 1;
}


.swiper-button-next,
.swiper-button-prev {
  top: 90% !important;
  height: 20px !important;
  width: 40px !important;

  &::after {
    content: '';
    display: none;
  }


}

.swiper-button-contnet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  border: 1px solid var(--white);

  img {
    position: absolute;
    width: 100%;
    width: 30px;
  }
}

.swiper-button-prev {
  left: 80px !important;
  z-index: 2;

}

.swiper-button-next {
  z-index: 2;
  right: 80px !important;

  img {
    transform: rotate(180deg);
  }
}



@media(max-width:1320px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-pagination{
    bottom: 1.6rem !important;
  }

  
}