.about {
  border-bottom: 1px solid #878585;
  padding-bottom: 60px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
  }
  &__text {
    font-size: 16px;
    line-height: 2.2rem;
    color: #fff;
    max-width: 672px;
  }
  &__inner + &__inner {
    margin-top: 40px;
  }
  &__content {
    padding-right: 80px;
    p {
      max-width: 100%;
    }
    p + p {
      margin-top: 2.7rem;
    }
  }
  &__image {
    max-width: 300px;
  }
  img {
    width: 100%;
  }

  &__lastitle {
    padding-top: 44px;
  }
  h2 {
    max-width: 700px;
    line-height: 3.6rem;
  }
  .title {
    font-size: clamp(22px, 2vw, 32px);
    line-height: clamp(2.4rem, 2vw, 4.2rem);
  }

  p {
    font-size: clamp(14px, 2vw, 16px);
    line-height: clamp(1.6rem, 2vw, 2.2rem);
  }
}

@media (max-width: 1200px) {
  .about {
    &__image {
      max-width: 100%;
    }
    &__wrapper {
      padding-left: 20px;
    }
    &__content {
      padding-right: 20px;
    }
  }
}

@media (max-width: 767px) {
  .about {
    &__wrapper {
      padding-left: 0px;
    }
    .title:first-child{
      margin-top: 20px;
    }
  }
}
