.advertis {
  padding: clamp(30px, 2vw, 90px) 0;
  background: #272727;
}

.advertisSwiper {

  
  width: 100%;
  position: relative;
  overflow: hidden;

  .swiper-wrapper {
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: transparent;
  }

}
.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.96);
  transition: all 0.5s;
}
.swiper-slide-active {
  transform: scale(1);
  transition: all 0.5s;
}
