.basket {
  .wrapper {
    max-width: 850px;
  }
  &__wrapper {
    position: relative;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    color: #ffff;
    opacity: 1;
    transition: all 0.5;

    &:hover {
      opacity: 0.5;
      transition: all 0.5;
    }
  }
  &__link-text {
    margin-left: 10px;
    font-size: 15px;
  }
  .title {
    color: #ffff;
  }
  &__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px 0;
  }
  &__item {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    color: #ffff;
    width: 100%;
    background: #303030;
    border-radius: 20px;
  }
  &__total {
    background: #232323;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #ffff;
    border-radius: 20px;
    margin-top: 10px;
  }
  &__total-text {
    opacity: 0.8;
    font-size: 22px;
    font-size: clamp(16px, 2vw, 22px);
  }
  &__total-price {
    font-size: clamp(24px, 2vw, 32px);
    margin-top: 6px;
  }

  &__item-product {
    img {
      height: 70px;
      width: 70px;
    }
  }
  &__item-name {
    margin-left: 30px;
    width: 75%;
    margin-right: 30px;
    font-size: clamp(13px, 2vw, 18px);
    line-height: 1.5em;
  }
  &__item-content {
    display: flex;
    max-width: 220px;
    width: 100%;
    gap: 0px 20px;
  }
  &__item-number {
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background: transparent;
    border-bottom: 2px solid #767676;
    color: #fff;
    font-size: clamp(14px, 2vw, 18px);
  }

  &__item-price {
    font-size: clamp(14px, 2vw, 18px);
    display: block;
    width: clamp(120px, 2vw, 150px);
  }
  &__item-clouse {
    img {
      width: 15px;
      height: 15px;
    }
    cursor: pointer;
  }
  /* Chrome, Safari, Edge */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Опционально убираем стрелки при фокусе */
  input[type="number"]:focus::-webkit-inner-spin-button,
  input[type="number"]:focus::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  @media (max-width: 768px) {
    &__item-content {
      max-width: 170px;
      align-items: center;
      width: 100%;
    }
  }
  @media (max-width: 575px) {
    &__item {
      flex-direction: column;
      position: relative;
    }
    &__item-name {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

    &__item-clouse {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__link {
      position: unset;
      text-align: start;
      width: 100%;
      margin-bottom: 10px;
    }
    &__total {
      align-items: center;
    }
  }
}
