.benefit {
 padding-bottom: clamp(30px, 2vw, 90px);
  background: #272727;
  &__inner{
    display: flex;
    justify-content: center;
  }
  &__gallery {
    border-radius: 20px;
    width: 100%;
    max-width: 1920px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 100%;
  }

  &__box {
    animation: pulse 3s infinite; 
    position: absolute;

    background-color: red;
    width: clamp(50px, 8vw, 75px);
    height: clamp(50px, 8vw, 75px);
    border-radius: 50px;
    cursor: pointer;
    &::after {
      content: "";
      cursor: pointer;
      background-image: url("../img/benefit/play.png");
      width: 24px;
      height: 24px;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
