@use "../base/vars" as *;

.catalog {
  &__item {
    padding-left: 15px;
    padding-right: 15px;
    animation: unhoverState 0.6s forwards; //
    &:hover {
      animation: hoverState 0.6s forwards;
    }
  }
  h2{
     font-size: clamp(2rem, 2vw, 2.7rem);
     line-height: clamp(1.2rem, 2vw, 2.2rem);
  }
  @media(max-width:576px){
    &{

      &__item{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

}
