.hero {
    position: relative;
    top: -100px;

    .title {
        color: var(--white);
        font-size: 4.1rem;
        line-height: 4.8rem;
        max-width: 602px;
    }

    p {
        color: var(--white);
        font-size: 1.9rem;
        line-height: 2.3rem;
        max-width: 448px;
        margin-top: 24px;
        margin-bottom: 39px;
    }

    .wrapper {
        position: absolute;
        top: 230px;
    }

    .swiper-slide__mob-image{
        min-height: 500px;
        object-fit: cover;
    }
    @media(max-width:1500px) {
        .wrapper {
            position: absolute;
            top: 160px;
        }

    }

    @media(max-width:1320px) {
        & {
            top: -50px;
        }

        .wrapper {

            top: 115px;
        }
    }

    @media(max-width:1100px) {

        .swiper-slide__wrapper {
            padding-left: 50px;
        }
    }

    @media(max-width:775px) {

        .wrapper {
            top: 100px;
        }

        .title {
            max-width: 500px;
            font-size: 24px;
            line-height: 2.8rem ;

        }

        p {
            font-size: 16px;
            margin-bottom: 28px;
        }
    }

    @media(max-width:540px) {
        & {
            top: 0px;
                margin-bottom: 30px;
        }

        .title {
            line-height: 28px;
        }

        p {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 13px;

            line-height: 2rem;
        } 

        .swiper-slide__wrapper {
            padding-left: 0;
        }

    

        .swiper-pagination {
            bottom: 16px;
        }

           .wrapper {
            top: 80px;
        }
    }
}