.innovation {
  padding: 60px 0px;
  margin: 60px 0;
  border-top: 1px solid #878585;
  border-bottom: 1px solid #878585;

  &__content-item {
    width: 100%;
  }

  .cart {
    width: 100%;
    margin-top: 0rem !important;
    flex: 1;

    &__main-item {
      animation: unhoverState 0.6s forwards; //
      &:hover {
        animation: hoverState 0.6s forwards;
      }
    }
  }


  &__header {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 17px;
    gap: 0px 40px;
  }

  &__header-item {
    cursor: pointer;
    opacity: 0.5;
    padding-bottom: 2px;

    &.active {
      opacity: 1;
      border-bottom: 3px solid var(--red);
    }
  }

  @media (max-width: 768px) {
    .cart {
      &__product {
        padding: 50px 12px;
        margin-top: 20px;
      }
      &__content {
        margin-top: 15px;
        gap: 10px 0;
      }
      &__name {
        line-height: 2rem;
      }
    }
  }
}
