.quality {
  &__items {
    padding-bottom: 50px;
  }
  &__item {
    display: flex;
    &:nth-child(odd) {
      padding-left: 110px;
    }
    &:nth-child(even) {
      padding-right: 110px;
    }
  }
  &__item + &__item {
    padding-top: clamp(30px, 2vw, 90px);
  }
  &__content {
    max-width: 410px;
  }
  h2 {
    line-height: 1;
    font-size: clamp(17px, 2vw, 22px);
  }
  &__text {
    color: #fff;
    font-size: 16px;

    font-size: clamp(14px, 2vw, 16px);
  }

  &__image {
    max-width: 100%;
    img {
      width: 100%;
    }
  }
  @media (max-width: 1000px) {
    &__item {
      display: flex;
      &:nth-child(odd) {
        padding: 0;
      }
      &:nth-child(even) {
        padding: 0;
      }
    }
  }
  @media (max-width: 576px) {
    &__image {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        max-width: 94%;
        object-fit: contain;
      }
    }

    &__content {
      max-width: 94%;
      padding: 20px 0;
    }
  }
}
