

   @font-face {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-style: normal;
    src: local("Montserrat-Regular"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-display: swap;
  } 



   @font-face {
    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-style: normal;
    src: local("Montserrat-Medium"),
      url("../fonts/Montserrat-Medium.woff2") format("woff2");
    font-display: swap;
  } 





   @font-face {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
    font-style: normal;
    src: local("Montserrat-SemiBold"),
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-display: swap;
  } 




  
