// Container
@use "./vars" as *;

.wrapper {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

html {
  font-size: 62.5%;
}

body {
  background: var(--body);
  @extend %m-400;
  overflow-x: hidden;
  &.locked {
    overflow: hidden;
  }

  // Dark mode styles
  &.dark {
    background: #242424;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input {
  text-decoration: none;
  border: none;
  outline: none;
}

@keyframes hoverState {
  0% {
    transform: translateY(0) scale(1);
    filter: blur(0px);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }

  40% {
    filter: blur(2px);
  }

  100% {
    transform: translateY(-8px) scale(1.05);
    filter: blur(0px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25),
      0 0 12px rgba(255, 255, 255, 0.15);
  }
}

@keyframes unhoverState {
  0% {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25),
      0 0 12px rgba(255, 255, 255, 0.15);
  }

  30% {
    filter: blur(2px);
  }

  100% {
    transform: translateY(0) scale(1);
    filter: blur(0px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

h1 {
  font-size: clamp(3.5rem, 2vw, 4.1rem);
  line-height: clamp(4rem, 2vw, 4.8rem);
}

h2 {
  color: var(--white);
  font-size: clamp(2rem, 2vw, 2.7rem);
  line-height: clamp(1.2rem, 2vw, 2.2rem);
  margin-bottom: 1.7rem;
  max-width: 600px;
  @extend %m-500;
}



@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); // увеличиваем на 20%
  }
  100% {
    transform: scale(1);
  }
}





/* position senter */
/*   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

/* cart */
/* &__item {
    flex: 0 0 calc(25% - 16px);
    max-width: 100%;
} */

/* input {
  text-decoration: none;
  border: none;        
  outline: none;
} */

/*   p {
    font-size: clamp(14px, 2vw, 16px);
    line-height: clamp(1.6rem, 2vw, 2.2rem);
  } */

/*   отспуты бустрап */
/*   --bs-gutter-x: 50px; 
    --bs-gutter-y: 50px; */
