@use '../base/vars' as *;

// ========================= [ Header styles ] =========================
.header {
    background-color: #43adff;

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    &__inner {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;



        &.active {
            transform: translateX(0);
            opacity: 1;
            pointer-events: all;
            z-index: 2;
            backdrop-filter: blur(5px);
            position: fixed;
            width: 100%;
            height: 100vh;
            z-index: 3;
            top: 0;
        }
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    a {
        color: white;
    }
}

// ========================== [ Menu styles ] ==========================
.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 450px;
    background: $burgerColor;
    padding: 15rem 2.7rem 15rem 4.8rem;
    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform .4s ease, opacity .4s ease;
    opacity: 0.3;
    pointer-events: none;
    z-index: 2;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 4rem 0;
    }

    &__item {
        display: flex;
        position: relative;
        font-size: 18px;
        color: var(--white);
    }

    // .menu__item-link
    &__item-link {
        color: var(--white);
        display: flex;
        position: relative;
        transition: 0.5s color;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -3px;
            background: #131418;
            height: 1px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;

            // Comment if you need border animation
            display: none;
        }

        &:hover {
            color: #d373fb;

            &:after {
                transform: scale(1);
            }
        }
    }



    &.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
        z-index: 2;
    }

    .burger {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

.info {

    &__items {
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        margin-top: 60px;
    }

    &__item {
        display: flex;
        font-size: 15px;
        color: var(--white);
    }

    &__item-link {
        color: var(--white);
        display: flex;
        transition: 0.5s color;

        &:hover {
            color: #d373fb;
        }
    }
}


// ========================= [ Burger styles ] =========================
.burger {
    display: none;
    background: transparent;
    z-index: 2;

    display: flex;
    position: relative;
    height: 20px;
    width: 30px;

    &.active {

        &:before {
            background: $burgerActiveColor;
            transform: rotate(45deg);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            top: 8px;
        }

        &:after {
            background: $burgerActiveColor;
            transform: rotate(-45deg);
            bottom: 10px;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        & span {
            transform: scale(0);
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: $burgerColor;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    span {
        position: absolute;
        top: 9px;
        right: 0;
        width: 100%;
        background: $burgerColor;
        height: 2px;
        transform: scale(1);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

}