<header>
  <!-- Navbar -->
  <div class="header">
    <div class="wrapper">
      <div class="navbar">
        <button class="burger">
          <span></span>
        </button>
        <div class="logo"><a href="#"> #Давай попробуем: JavaScript </a></div>
        <nav>
          <div class="header__inner ">
            <div class="menu">
              <button class="burger">
                <span></span>
              </button>
              <ul class="menu__items">
                <li class="menu__item">
                  <a href="#" class="menu__item-link" data-scroll>
                    Кухонні ножі TUOTOWN</a
                  >
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__item-link" data-scroll
                    >Складні ножі TUOTOWN</a
                  >
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__item-link" data-scroll
                    >Кухонні ножі QXF</a
                  >
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__item-link" data-scroll
                    >Точильні камені
                  </a>
                </li>

                <li class="menu__item">
                  <a href="#" class="menu__item-link" data-scroll
                    >Точильні камені
                  </a>
                </li>

                <li class="menu__item">
                  <a href="#" class="menu__item-link" data-scroll
                    >Кухонне приладдя
                  </a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__item-link" data-scroll
                    >Туристичні товари
                  </a>
                </li>
              </ul>

              <ul class="info__items">
                <li class="info__item">
                  <a href="#" class="info__item-link" data-scroll> Новини</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link" data-scroll
                    >Про компанію</a
                  >
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link" data-scroll>Контакти</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link" data-scroll
                    >Як проїхати
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
